body {
    background: rgb(3,0,11);
    background: linear-gradient(0deg, rgba(3,0,11,1) 32%, rgba(40,81,152,1) 60%);
    background-repeat: no-repeat;  
    background-attachment: fixed; 
    color:rgb(173, 212, 240);

  
} 
h3 {
    color:rgb(173, 212, 240) !important;
}

nav {
    color:rgb(173, 212, 240) !important;
    background: rgb(3,0,11);
    background: linear-gradient(0deg, rgba(3,0,11,1) 32%, rgba(40,81,152,1) 60%);
    background-repeat: no-repeat;  
    background-attachment: fixed; 
    padding: 0;
}

ul {
    color:rgb(173, 212, 240);
    background: rgb(3,0,11);
    background: linear-gradient(0deg, rgba(3,0,11,1) 32%, rgba(40,81,152,1) 60%);
    background-repeat: no-repeat;  
    background-attachment: fixed; 

   }


.dropdown-item :hover {
    background-color:grey !important;
  }


.container {
      max-width: 400px;
      margin: auto;
      display:flex;
      flex-direction: row;
      justify-content: space-between !important;
    }

   

    .form-group {
        color: rgb(173, 212, 240);
    background: rgb(3,0,11);
    background: linear-gradient(0deg, rgba(3,0,11,1) 67%, rgba(40,81,152,1) 100%);     
    background-attachment: fixed;
        width: 252.8px;
        border: 1px solid black;
      border-radius: 5px;
      text-align: center;
      text-decoration: none;
      display:flex;
      align-self: center;
      justify-content: center;
        display: flex !important;
        flex-direction: row !important;
        margin-left: 13% !important;
    }

    .opciones {

        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        width:40%;
        margin-right: center !important;
    }

   



    footer {
        color: rgb(173, 212, 240);
        background-color: transparent;
        padding: 15px;
        justify-content:space-between;
        width:100%;
        display: flex;
        align-self: flex-end;
        position: relative !important;
        bottom:0 !important;
        margin-top: auto !important;
    }