.carousel-inner {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 60vh; /* Ajusta la altura según tus necesidades */
}

.carousel-item {
    text-align: center;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

 /* Estilos personalizados para los controles del carousel */
.carousel-control-prev,
.carousel-control-next {
    color: white !important;
    display: flex;
    justify-content:space-around;
  width: 5%; /* Ajusta el ancho según tus necesidades */
  text-align: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: flex;
    justify-content: space-around;
  width: 30px; /* Ajusta el ancho según tus necesidades */
  height: 30px; /* Ajusta la altura según tus necesidades */
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-prev-icon {
  background-image: url('ruta-a-tu-icono-previo'); /* Ruta a tu icono de flecha previa */
}

.carousel-control-next-icon {
  background-image: url('ruta-a-tu-icono-siguiente'); /* Ruta a tu icono de flecha siguiente */
}