/*style.css*/

body{
    background-image: url("../IMG/background-color.jpg"); /* Replace with the actual path to your image */
    background-size: cover; /* Makes the image cover the entire element */
    background-position: center; /* Positions the image in the center */
    height:100%;
    text-align: center;
  }

  footer {
    color: white;
    background-color: black;
    padding: 15px;
    justify-content: space-between;
    width:100%;
    display: flex;
    align-self: flex-end;
    position: fixed;
    bottom:0;
}
